table.table
	- if (filetype == "video")
		tr
			th Resolution
			td #{video.width} x #{video.height}
		tr
			th Duration
			td #{video.duration}
		tr
			th Video
			td #{video.codec_long_name} - #{video.bit_rate}
		tr
			th Audio Bitrate
			td #{audio.codec_long_name} - #{audio.bit_rate}
	- else if ( filetype == "image")
		tr 
			th Image
			td #{path}
	- else if ( filetype == "audio")
		tr 
			th Audio
			td #{path}
	tr
		th
		td 
			button.btn-block.btn.btn-primary#playHere(data-path='#{path}',data-type="#{filetype}") Play Here
			button.btn-block.btn.btn-default#playCast(data-path='#{path}',data-type="#{filetype}") Cast to ChromeCast