table.table
	tr
		th Filename
		td #{path}
	tr
		th Title
		td #{title}
	tr
		th Artist
		td #{artist}
	tr
		th Resolution
		td #{video.resolution.w} x #{video.resolution.h}
	tr
		th Duration
		td #{durationraw}
	tr
		th Video
		td #{video.codec} - #{video.bitrate}		
	tr
		th Audio Bitrate
		td #{audio.codec} - #{audio.bitrate}
	tr
		th
		td 
			button.btn-block.btn.btn-primary#playHere(data-path='#{path}') Play Here
			button.btn-block.btn.btn-default#playCast(data-path='#{path}') Cast to ChromeCast